extends layout

block content
    h1 Register
    p Pleae register using the form below
    ul.errors
        if(errors)
            each error , i in errors
                li.alert.alert-danger #{error.msg}
    form(action='/users/register', method='post', enctype='multipart/form-data')
        .form-group
            label Name
            input.form-control(type='text', name='name', value=(name ? '#{name}' : ''), placeholder='Name')
        .form-group
            label Email
            input.form-control(type='email', name='email', value=(email ? '#{email}' : ''), placeholder='Email')
        .form-group
            label Username
            input.form-control(type='text', name='username', value=(username ? '#{username}' : ''), placeholder='Username')
        .form-group
            label Password
            input.form-control(type='password', name='password', value='', placeholder='Password')
        .form-group
            label Confirm Password
            input.form-control(type='password', name='password2', value='', placeholder='Confirm')
        .form-group
            label Profile Image
            input.form-control(name='profileimage', type='file')
        input.btn.btn-primary(name='submit', type='submit', value='register')
            
        
    
